<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header">
    <a href="#" class="sidebar-logo">
      @if (isSidebarCollapsed) {
        <mat-icon>profile</mat-icon>
      } @else {
        Smart Hire
      }
    </a>
  </div>
  
  <div class="sidebar-menu">
    <ul>
      @for (item of menuItems; track item) {
        <li class="sidebar-menu-item">
          <a
            href="#"
            class="sidebar-item"
            [ngClass]="{
              'has-children': item.children,
              'menu-item-active': item.isOpen
            }"
            (click)="toggleMenuItem(item)"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
            <span class="sidebar-item-text">{{ item.label }}</span>
            
            @if (item.children && !isSidebarCollapsed) {
              <mat-icon class="sidebar-item-arrow">
                {{ item.isOpen ? 'expand_less' : 'expand_more' }}
              </mat-icon>
            }
          </a>

          @if (item.children && !isSidebarCollapsed && item.isOpen) {
            <ul class="sidebar-submenu">
              @for (child of item.children; track child) {
                <li>
                  <a href="#" class="sidebar-item sidebar-subitem">
                    <mat-icon>{{ child.icon }}</mat-icon>
                    <span class="sidebar-item-text">{{ child.label }}</span>
                  </a>
                </li>
              }
            </ul>
          }
        </li>
      }
    </ul>
  </div>
</div>